<!-- Split-Pane Menu -->
<!-- <div class="split-pane">
  <ion-split-pane contentId="main"> -->

  <!--  the side menu  -->
    <!-- <ion-menu side="end" max-edge-start="15" type="overlay" contentId="main" menuId="main"> -->

      <!-- <ion-content> -->
        <!-- List Full Lines -->
        <!-- <ion-menu-toggle autoHide="false">

          <div class= "menuHeader" align="center">
            <ion-avatar>
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
            </ion-avatar>
            <ion-label>
              John Titor
            </ion-label>
          </div>
            
          <div class= "menuContent">
            <ion-list> -->
              <!-- Account -->
              <!-- <ion-item lines="none" routerLink="/account" routerDirection="root" routerLinkActivation="active-link">
                <ion-icon name="person-circle-sharp" size="large" slot="start"></ion-icon>
                <ion-label>Profile</ion-label>
              </ion-item> -->
    
              <!-- Setting -->
              <!-- <ion-item lines="none" routerLink="/setting" routerDirection="root" routerLinkActivation="active-link">
                <ion-icon name="settings-sharp" size="large" slot="start"></ion-icon>
                <ion-label>Setting</ion-label>
              </ion-item> -->
    
              <!-- Help -->
              <!-- <ion-item lines="none" routerLink="/setting" routerDirection="root" routerLinkActivation="active-link">
                <ion-icon name="help-circle-sharp" size="large" slot="start"></ion-icon>
                <ion-label>Help</ion-label>
              </ion-item> -->
    
              <!-- Enquiry -->
              <!-- <ion-item lines="none" routerLink="/enquiries" routerDirection="root" routerLinkActivation="active-link">
                <ion-icon name="chatbubbles-sharp" size="large" slot="start"></ion-icon>
                <ion-label>Enquiry</ion-label>
              </ion-item> -->

              <!-- About Us -->
              <!-- <ion-item lines="none" routerLink="/about" routerDirection="root" routerLinkActivation="active-link">
                <ion-icon name="id-card-sharp" size="large" slot="start"></ion-icon>
                <ion-label>About Us</ion-label>
              </ion-item> -->
    
              <!-- Log Out -->
              <!-- <ion-item lines="none" routerDirection="root" routerLinkActivation="active-link">
                <ion-icon name="log-out-outline" size="large" slot="start"></ion-icon>
                <ion-label>Log Out</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu> -->

    <!-- the main content -->
    <!-- <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</div> -->