<!-- Header -->
<ion-header>
  <ion-toolbar>

  <!-- Back Button -->
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/" text="" icon="chevron-back-sharp"></ion-back-button>
  </ion-buttons>

  <!-- Title -->
  <ion-title>Account</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="accountDetail">
    <div class="userAvatar">
      <ion-card>
        <ion-item>
          <ion-avatar slot="start">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
          </ion-avatar>
  
          <ion-label>
            <h1>
              John Titor
            </h1>
  
            <ion-text>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Vel dolore dolorum modi repudiandae veniam tempora id facere cum incidunt, 
              eum delectus nihil consectetur deleniti nostrum voluptas 
              et doloremque culpa mollitia.
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-card>
    </div>
  
    <div class="academicAchievement">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Academic Achievements
          </ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>Swinburne University of Technology Sarawak</ion-label>
              <ion-note>2019 to 2020</ion-note>
            </ion-item>
            <ion-item>
              <ion-label>Mega Man X</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>The Legend of Zelda</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Pac-Man</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Super Mario World</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  
    <div class="cocuricularAchievement">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Cocuricular Achievements
          </ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-list-header>
                <ion-label>Swinburne University of Technology Sarawak</ion-label>
              </ion-list-header>
              <ion-label>2019 to 2020</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Mega Man X</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>The Legend of Zelda</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Pac-Man</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Super Mario World</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>
