:root {
    --header-font-size-max: 35px;
    --header-font-size-min: 25px;
    --header-font-weight: 800;
    --header-letter-spacing: -1px;
    --header-margin: 1rem;
  
    --sub-header-font-size-max: 30px;
    --sub-header-font-size-min: 20px;
    --sub-header-font-color: #0074D9;
    --sub-header-font-weight: 600;
    --sub-header-letter-spacing: -1px;
    --sub-header-margin: 0rem;
    --sub-header-margin-top: 0.5rem;
    --sub-header-margin-bottom: 0.75rem;
  
    --text-font-size: 18px;
    --text-font-weight: 500;
    --text-margin: 0rem;
  
    --sub-text-font-size: 14px;
    --sub-text-font-weight: 300;
    --sub-text-margin: 0rem;
}
  
.header-text {
  font-size: clamp(var(--header-font-size-min), 4vw, var(--header-font-size-max));
  font-weight: var(--header-font-weight);
  letter-spacing: var(--header-letter-spacing);
  margin: var(--header-margin);
}

.sub-header-text {
  font-size: clamp(var(--sub-header-font-size-min), 4vw, var(--sub-header-font-size-max));
  font-weight: var(--sub-header-font-weight);
  color: var(--sub-header-font-color);
  letter-spacing: var(--sub-header-letter-spacing);
  margin: var(--sub-header-margin);
  margin-top: var(--sub-header-margin-top);
  margin-bottom: var(--sub-header-margin-bottom);
}

.sub-text {
    font-size: var(--sub-text-font-siz);
    font-weight: var(--sub-text-font-weight);
    margin: var(--sub-text-margin);
}

ion-header {
    .header {
      background: #0074D9;
  
      li {
        list-style: none;
      }
      
      a {
        text-decoration: none;
      }
      
      .header{
        border-bottom: 1px solid #E2E8F0;
      }
      
      .navbar {
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 0rem 1.5rem;
      }
      
      .hamburger {
        display: none;
      }
      
      .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #ffffff;
      }
      
      .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .nav-item {
        margin-left: 2.5rem;
      }
      
      .nav-link{
        font-size: 1.3rem;
        font-weight: 400;
        color: #ffffff;
      }
      
      .nav-link:hover,
      .nav-link:active {
        color: #ffffff;
      }
      
      .nav-link:after,
      .nav-link:before {
        backface-visibility: hidden;
        border: 1px solid rgba(#ffffff, 0);
        bottom: 0px;
        content: " ";
        display: block;
        margin: 0 auto;
        position: relative;
        transition: all 280ms ease-in-out;
        width: 0;
      }
      
      .nav-link:hover:after,
      .nav-link:hover:before {
        backface-visibility: hidden;
        border-color: #ffffff;
        transition: width 350ms ease-in-out;
        width: 70%;
      }
      
      .nav-link:hover:before {
        bottom: auto;
        top: 0;
        width: 70%;
      }
      
      .nav-logo {
        flex-shrink: 0;
        width: 150px;
        margin-right: 10px;
        margin-left: 10px;
      }
      
      @media only screen and (max-width: 940px) {
  
        li {
          list-style: none;
        }
  
        .nav-menu {
            position: fixed;
            width: 100%;
            left: -100%;
            top: 3.17rem;
            padding: 0;
            margin: 0;
            flex-direction: column;
            text-align: center;
            background-color: #0074D9;
            border-radius: 0px  0px 10px 10px;
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            transition: ease-in-out 0.3s;
        }
        
        .nav-menu.active {
            left: 0%;
        }
      
        .nav-item {
            margin: 0.8rem 0;
            padding-left: 0px;
        }
      
        .hamburger {
            display: block;
            cursor: pointer;
        }
      
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
      
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
      
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
}

// Image Section
.imgSection {
    img {
      width: 100%;
      height: 300px;
      margin-bottom: 35px;
      flex-shrink: 0;
    }
  }

  .accomodation-detail {
    position: sticky;
    padding-top: 0.75rem;
    top: 0%;
    background-color: #ffffff;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #bbb;

    h1 {
      margin: 0rem;
      color: #0074D9;
      letter-spacing: -1px;
      font-size: 42px;
      font-weight: 900;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .booking {
      margin-top: 1rem;
    }
  
    .working-hour {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      flex-direction: column;
        
        h2 {
            padding-top: 0.2rem;
            margin: 0;
            color: #000;
            font-size: 16px;
        }

        .button {
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;
          margin: 0.4rem 0rem 0rem 0rem;
          padding: 0rem;
  
          ion-icon {
              font-size: 32px;
              margin-right: 0.8rem;
              flex-shrink: 0;
          }
  
          .call {
              color: #000;
              transition:  ease-in-out 0.3s;
  
              &:hover {
              cursor: pointer;
              color: #36b37e;
              }
          }
  
          .message {
              color: #000;
              transition:  ease-in-out 0.3s;
  
              &:hover {
              cursor: pointer;
              color: #ffc400;
              }
          }
      }
    }
}

.catalog {
  position: relative;
  margin: 1rem;

  &:not(:last-child) {
    border-bottom: 1px solid #bbb;
  }

  .room {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: minmax(200px, auto);
    grid-auto-flow: dense;
    grid-gap: 10px;

    .room-detail {
      img {
        width: 100%;
        border-radius: 15px;
      }

      .sub-header-text {
        margin-bottom: 0.4rem;
      }
  
      .details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 1rem;
        width: 100%;
  
        ul {
          display: flex;
          flex-wrap: wrap;
          padding: 0;
          margin-top: 0.4rem;
          margin-bottom: 0rem;
        }
      
        li {
          padding-right: 0.5rem;
          font-size: 18px;
          list-style-type: none;
  
          &:not(:nth-child(1))::before {
              content: '\25CF';
              padding-right: 0.5rem;
            }
          }
      
        .cost {
          text-align: end;
          margin-top: 0.75rem;

          &::after {
            content: "\00a0/ Month";
            font-weight: 700;
            font-size: 20px;
          }
        }
      }
    }
  }
}