:root {
  --header-font-size-max: 35px;
  --header-font-size-min: 25px;
  --header-font-weight: 800;
  --header-letter-spacing: -1px;
  --header-margin: 1rem;

  --sub-header-font-size-max: 30px;
  --sub-header-font-size-min: 20px;
  --sub-header-font-color: #0074D9;
  --sub-header-font-weight: 600;
  --sub-header-letter-spacing: -1px;
  --sub-header-margin: 0rem;
  --sub-header-margin-top: 0.5rem;
  --sub-header-margin-bottom: 0.75rem;

  --text-font-size: 18px;
  --text-font-weight: 500;
  --text-margin: 0rem;

  --sub-text-font-size: 14px;
  --sub-text-font-weight: 300;
  --sub-text-margin: 0rem;
}

.header-text {
  font-size: clamp(var(--header-font-size-min), 4vw, var(--header-font-size-max));
  font-weight: var(--header-font-weight);
  letter-spacing: var(--header-letter-spacing);
  margin: var(--header-margin);
}

.sub-header-text {
  font-size: clamp(var(--sub-header-font-size-min), 4vw, var(--sub-header-font-size-max));
  font-weight: var(--sub-header-font-weight);
  color: var(--sub-header-font-color);
  letter-spacing: var(--sub-header-letter-spacing);
  margin: var(--sub-header-margin);
  margin-top: var(--sub-header-margin-top);
  margin-bottom: var(--sub-header-margin-bottom);
}

.text {
  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);
  margin: var(--text-margin);
}

.sub-text {
  font-size: var(--sub-text-font-siz);
  font-weight: var(--sub-text-font-weight);
  margin: var(--sub-text-margin);
}

ion-header {
  .header {
    background: #0074D9;

    li {
      list-style: none;
    }
    
    a {
      text-decoration: none;
    }
    
    .header{
      border-bottom: 1px solid #E2E8F0;
    }
    
    .navbar {
      display: flex;
      justify-content:space-between;
      align-items: center;
      padding: 0rem 1.5rem;
    }
    
    .hamburger {
      display: none;
    }
    
    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #ffffff;
    }
    
    .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .nav-item {
      margin-left: 2.5rem;
    }
    
    .nav-link{
      font-size: 1.3rem;
      font-weight: 400;
      color: #ffffff;
    }
    
    .nav-link:hover,
    .nav-link:active {
      color: #ffffff;
    }
    
    .nav-link:after,
    .nav-link:before {
      backface-visibility: hidden;
      border: 1px solid rgba(#ffffff, 0);
      bottom: 0px;
      content: " ";
      display: block;
      margin: 0 auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0;
    }
    
    .nav-link:hover:after,
    .nav-link:hover:before {
      backface-visibility: hidden;
      border-color: #ffffff;
      transition: width 350ms ease-in-out;
      width: 70%;
    }
    
    .nav-link:hover:before {
      bottom: auto;
      top: 0;
      width: 70%;
    }
    
    .nav-logo {
      flex-shrink: 0;
      width: 150px;
      margin-right: 10px;
      margin-left: 10px;
    }
    
    @media only screen and (max-width: 940px) {

      li {
        list-style: none;
      }

      .nav-menu {
          position: fixed;
          width: 100%;
          left: -100%;
          top: 3.17rem;
          padding: 0;
          margin: 0;
          flex-direction: column;
          text-align: center;
          background-color: #0074D9;
          border-radius: 0px  0px 10px 10px;
          box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
          transition: ease-in-out 0.3s;
      }
      
      .nav-menu.active {
          left: 0%;
      }
    
      .nav-item {
          margin: 0.8rem 0;
          padding-left: 0px;
      }
    
      .hamburger {
          display: block;
          cursor: pointer;
      }
    
      .hamburger.active .bar:nth-child(2) {
          opacity: 0;
      }
    
      .hamburger.active .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
      }
    
      .hamburger.active .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}

.nearest-accomodation {
  position: relative;
  margin: 1rem;

  .nearest-accomodation-carousel {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x proximity;

    .accomodation-card {
      position: relative;
      flex-shrink: 0;
      width: 400px;
      margin: 0rem 1rem;
      scroll-snap-align: center;
      border-radius: 15px;

      img {
        width: 100%;
        border-radius: 15px;
      }

      .location {
        display: inline-flex;
        margin-bottom: 0.4rem;
        
        ion-icon {
            margin: 0rem 0.4rem 0.2rem 1rem;
            flex-shrink: 0;
            align-self: center;
            font-size: xx-large;
            color: #b9b9b9;
        }
      }

      .distance {
          position: absolute;
          top: 2%;
          display: flex;
          align-items: center;
          right: 2%;
          background: #fff;
          border-radius: 25px;
          padding: 0.4rem 0.6rem 0.4rem 0.6rem;

        svg {
          width: 18px;
          fill: #000000;
          padding-right: 0.4rem;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 20px;
    }
    
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: #d6dee1;
      border-radius: 20px;
      border: 6px solid transparent;
      background-clip: content-box;
    }
    
    &::-webkit-scrollbar-thumb:hover {
      background-color: #a8bbbf;
    }
  }
}

.search {
  /**
   * Add the correct display in IE 9-.
   */
   article,
   aside,
   footer,
   header,
   nav,
   section {
     display: block;
   }
   
   /**
    * Correct the font size and margin on `h1` elements within `section` and
    * `article` contexts in Chrome, Firefox, and Safari.
    */
   h1 {
     font-size: 2em;
     margin: 0.67em 0;
   }
   
   /* Grouping content
      ========================================================================== */
   /**
    * Add the correct display in IE 9-.
    * 1. Add the correct display in IE.
    */
   figcaption,
   figure,
   main {
     /* 1 */
     display: block;
   }
   
   /**
    * Add the correct margin in IE 8.
    */
   figure {
     margin: 1em 40px;
   }
   
   /**
    * 1. Add the correct box sizing in Firefox.
    * 2. Show the overflow in Edge and IE.
    */
   hr {
     box-sizing: content-box;
     /* 1 */
     height: 0;
     /* 1 */
     overflow: visible;
     /* 2 */
   }
   
   /**
    * 1. Correct the inheritance and scaling of font size in all browsers.
    * 2. Correct the odd `em` font sizing in all browsers.
    */
   pre {
     font-family: monospace, monospace;
     /* 1 */
     font-size: 1em;
     /* 2 */
   }
   
   /* Text-level semantics
      ========================================================================== */
   /**
    * 1. Remove the gray background on active links in IE 10.
    * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
    */
   a {
     background-color: transparent;
     /* 1 */
     -webkit-text-decoration-skip: objects;
     /* 2 */
   }
   
   /**
    * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
    * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
    */
   abbr[title] {
     border-bottom: none;
     /* 1 */
     text-decoration: underline;
     /* 2 */
     text-decoration: underline dotted;
     /* 2 */
   }
   
   /**
    * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
    */
   b,
   strong {
     font-weight: inherit;
   }
   
   /**
    * Add the correct font weight in Chrome, Edge, and Safari.
    */
   b,
   strong {
     font-weight: bolder;
   }
   
   /**
    * 1. Correct the inheritance and scaling of font size in all browsers.
    * 2. Correct the odd `em` font sizing in all browsers.
    */
   code,
   kbd,
   samp {
     font-family: monospace, monospace;
     /* 1 */
     font-size: 1em;
     /* 2 */
   }
   
   /**
    * Add the correct font style in Android 4.3-.
    */
   dfn {
     font-style: italic;
   }
   
   /**
    * Add the correct background and color in IE 9-.
    */
   mark {
     background-color: #ff0;
     color: #000;
   }
   
   /**
    * Add the correct font size in all browsers.
    */
   small {
     font-size: 80%;
   }
   
   /**
    * Prevent `sub` and `sup` elements from affecting the line height in
    * all browsers.
    */
   sub,
   sup {
     font-size: 75%;
     line-height: 0;
     position: relative;
     vertical-align: baseline;
   }
   
   sub {
     bottom: -0.25em;
   }
   
   sup {
     top: -0.5em;
   }
   
   /* Embedded content
      ========================================================================== */
   /**
    * Add the correct display in IE 9-.
    */
   audio,
   video {
     display: inline-block;
   }
   
   /**
    * Add the correct display in iOS 4-7.
    */
   audio:not([controls]) {
     display: none;
     height: 0;
   }
   
   /**
    * Remove the border on images inside links in IE 10-.
    */
   img {
     border-style: none;
   }
   
   /**
    * Hide the overflow in IE.
    */
   svg:not(:root) {
     overflow: hidden;
   }
   
   /* Forms
      ========================================================================== */
   /**
    * 1. Change the font styles in all browsers (opinionated).
    * 2. Remove the margin in Firefox and Safari.
    */
   button,
   input,
   optgroup,
   select,
   textarea {
     font-family: sans-serif;
     /* 1 */
     font-size: 100%;
     /* 1 */
     line-height: 1.15;
     /* 1 */
     margin: 0;
     /* 2 */
   }
   
   /**
    * Show the overflow in IE.
    * 1. Show the overflow in Edge.
    */
   button,
   input {
     /* 1 */
     overflow: visible;
   }
   
   /**
    * Remove the inheritance of text transform in Edge, Firefox, and IE.
    * 1. Remove the inheritance of text transform in Firefox.
    */
   button,
   select {
     /* 1 */
     text-transform: none;
   }
   
   /**
    * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
    *    controls in Android 4.
    * 2. Correct the inability to style clickable types in iOS and Safari.
    */
   button,
   html [type="button"],
   [type="reset"],
   [type="submit"] {
     -webkit-appearance: button;
     /* 2 */
   }
   
   /**
    * Remove the inner border and padding in Firefox.
    */
   button::-moz-focus-inner,
   [type="button"]::-moz-focus-inner,
   [type="reset"]::-moz-focus-inner,
   [type="submit"]::-moz-focus-inner {
     border-style: none;
     padding: 0;
   }
   
   /**
    * Restore the focus styles unset by the previous rule.
    */
   button:-moz-focusring,
   [type="button"]:-moz-focusring,
   [type="reset"]:-moz-focusring,
   [type="submit"]:-moz-focusring {
     outline: 1px dotted ButtonText;
   }
   
   /**
    * Correct the padding in Firefox.
    */
   fieldset {
     padding: 0.35em 0.75em 0.625em;
   }
   
   /**
    * 1. Correct the text wrapping in Edge and IE.
    * 2. Correct the color inheritance from `fieldset` elements in IE.
    * 3. Remove the padding so developers are not caught out when they zero out
    *    `fieldset` elements in all browsers.
    */
   legend {
     box-sizing: border-box;
     /* 1 */
     color: inherit;
     /* 2 */
     display: table;
     /* 1 */
     max-width: 100%;
     /* 1 */
     padding: 0;
     /* 3 */
     white-space: normal;
     /* 1 */
   }
   
   /**
    * 1. Add the correct display in IE 9-.
    * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
    */
   progress {
     display: inline-block;
     /* 1 */
     vertical-align: baseline;
     /* 2 */
   }
   
   /**
    * Remove the default vertical scrollbar in IE.
    */
   textarea {
     overflow: auto;
   }
   
   /**
    * 1. Add the correct box sizing in IE 10-.
    * 2. Remove the padding in IE 10-.
    */
   [type="checkbox"],
   [type="radio"] {
     box-sizing: border-box;
     /* 1 */
     padding: 0;
     /* 2 */
   }
   
   /**
    * Correct the cursor style of increment and decrement buttons in Chrome.
    */
   [type="number"]::-webkit-inner-spin-button,
   [type="number"]::-webkit-outer-spin-button {
     height: auto;
   }
   
   /**
    * 1. Correct the odd appearance in Chrome and Safari.
    * 2. Correct the outline style in Safari.
    */
   [type="search"] {
     -webkit-appearance: textfield;
     /* 1 */
     outline-offset: -2px;
     /* 2 */
   }
   
   /**
    * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
    */
   [type="search"]::-webkit-search-cancel-button,
   [type="search"]::-webkit-search-decoration {
     -webkit-appearance: none;
   }
   
   /**
    * 1. Correct the inability to style clickable types in iOS and Safari.
    * 2. Change font properties to `inherit` in Safari.
    */
   ::-webkit-file-upload-button {
     -webkit-appearance: button;
     /* 1 */
     font: inherit;
     /* 2 */
   }
   
   /* Interactive
      ========================================================================== */
   /*
    * Add the correct display in IE 9-.
    * 1. Add the correct display in Edge, IE, and Firefox.
    */
   details,
   menu {
     display: block;
   }
   
   /*
    * Add the correct display in all browsers.
    */
   summary {
     display: list-item;
   }
   
   /* Scripting
      ========================================================================== */
   /**
    * Add the correct display in IE 9-.
    */
   canvas {
     display: inline-block;
   }
   
   /**
    * Add the correct display in IE.
    */
   template {
     display: none;
   }
   
   /* Hidden
      ========================================================================== */
   /**
    * Add the correct display in IE 10-.
    */
   [hidden] {
     display: none;
   }
   
   fieldset {
     margin: 0;
     padding: 0;
     -webkit-margin-start: 0;
     -webkit-margin-end: 0;
     -webkit-padding-before: 0;
     -webkit-padding-start: 0;
     -webkit-padding-end: 0;
     -webkit-padding-after: 0;
     border: 0;
   }
   
   legend {
     margin: 0;
     padding: 0;
     display: block;
     -webkit-padding-start: 0;
     -webkit-padding-end: 0;
   }
   
   /*===============================
   =            Choices            =
   ===============================*/
   .choices {
     position: relative;
     margin-bottom: 24px;
     font-size: 16px;
   }
   
   .choices:focus {
     outline: none;
   }
   
   .choices:last-child {
     margin-bottom: 0;
   }
   
   .choices.is-disabled .choices__inner, .choices.is-disabled .choices__input {
     background-color: #EAEAEA;
     cursor: not-allowed;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
   }
   
   .choices.is-disabled .choices__item {
     cursor: not-allowed;
   }
   
   .choices[data-type*="select-one"] {
     cursor: pointer;
   }
   
   .choices[data-type*="select-one"] .choices__inner {
     padding-bottom: 7.5px;
   }
   
   .choices[data-type*="select-one"] .choices__input {
     display: block;
     width: 100%;
     padding: 10px;
     border-bottom: 1px solid #DDDDDD;
     background-color: #FFFFFF;
     margin: 0;
   }
   
   .choices[data-type*="select-one"] .choices__button {
  //    background-image: url("../../icons/cross-inverse.svg");
     padding: 0;
     background-size: 8px;
     height: 100%;
     position: absolute;
     top: 50%;
     right: 0;
     margin-top: -10px;
     margin-right: 25px;
     height: 20px;
     width: 20px;
     border-radius: 10em;
     opacity: .5;
   }
   
   .choices[data-type*="select-one"] .choices__button:hover, .choices[data-type*="select-one"] .choices__button:focus {
     opacity: 1;
   }
   
   .choices[data-type*="select-one"] .choices__button:focus {
     box-shadow: 0px 0px 0px 2px #0074D9;
   }
   
   .choices[data-type*="select-one"]:after {
     content: "";
     height: 0;
     width: 0;
     border-style: solid;
     border-color: #333333 transparent transparent transparent;
     border-width: 5px;
     position: absolute;
     right: 11.5px;
     top: 50%;
     margin-top: -2.5px;
     pointer-events: none;
   }
   
   .choices[data-type*="select-one"].is-open:after {
     border-color: transparent transparent #333333 transparent;
     margin-top: -7.5px;
   }
   
   .choices[data-type*="select-one"][dir="rtl"]:after {
     left: 11.5px;
     right: auto;
   }
   
   .choices[data-type*="select-one"][dir="rtl"] .choices__button {
     right: auto;
     left: 0;
     margin-left: 25px;
     margin-right: 0;
   }
   
   .choices[data-type*="select-multiple"] .choices__inner, .choices[data-type*="text"] .choices__inner {
     cursor: text;
   }
   
   .choices[data-type*="select-multiple"] .choices__button, .choices[data-type*="text"] .choices__button {
     position: relative;
     display: inline-block;
     margin-top: 0;
     margin-right: -4px;
     margin-bottom: 0;
     margin-left: 8px;
     padding-left: 16px;
     border-left: 1px solid #0074D9;
  //    background-image: url("../../icons/cross.svg");
     background-size: 8px;
     width: 8px;
     line-height: 1;
     opacity: .75;
   }
   
   .choices[data-type*="select-multiple"] .choices__button:hover, .choices[data-type*="select-multiple"] .choices__button:focus, .choices[data-type*="text"] .choices__button:hover, .choices[data-type*="text"] .choices__button:focus {
     opacity: 1;
   }
   
   .choices__inner {
     display: inline-block;
     vertical-align: top;
     width: 100%;
     background-color: #f9f9f9;
     padding: 7.5px 7.5px 3.75px;
     border: 1px solid #DDDDDD;
     border-radius: 2.5px;
     font-size: 14px;
     min-height: 44px;
     overflow: hidden;
   }
   
   .is-focused .choices__inner, .is-open .choices__inner {
     border-color: #b7b7b7;
   }
   
   .is-open .choices__inner {
     border-radius: 2.5px 2.5px 0 0;
   }
   
   .is-flipped.is-open .choices__inner {
     border-radius: 0 0 2.5px 2.5px;
   }
   
   .choices__list {
     margin: 0;
     padding-left: 0;
     list-style: none;
   }
   
   .choices__list--single {
     display: inline-block;
     padding: 4px 16px 4px 4px;
     width: 100%;
   }
   
   [dir="rtl"] .choices__list--single {
     padding-right: 4px;
     padding-left: 16px;
   }
   
   .choices__list--single .choices__item {
     width: 100%;
   }
   
   .choices__list--multiple {
     display: inline;
   }
   
   .choices__list--multiple .choices__item {
     display: inline-block;
     vertical-align: middle;
     border-radius: 20px;
     padding: 4px 10px;
     font-size: 12px;
     font-weight: 500;
     margin-right: 3.75px;
     margin-bottom: 3.75px;
     background-color: #0074D9;
     border: 1px solid #0074D9;
     color: #FFFFFF;
     word-break: break-all;
   }
   
   .choices__list--multiple .choices__item[data-deletable] {
     padding-right: 5px;
   }
   
   [dir="rtl"] .choices__list--multiple .choices__item {
     margin-right: 0;
     margin-left: 3.75px;
   }
   
   .choices__list--multiple .choices__item.is-highlighted {
     background-color: #0074D9;
     border: 1px solid #0074D9;
   }
   
   .is-disabled .choices__list--multiple .choices__item {
     background-color: #aaaaaa;
     border: 1px solid #919191;
   }
   
   .choices__list--dropdown {
     display: none;
     z-index: 1;
     position: absolute;
     width: 100%;
     background-color: #FFFFFF;
     border: 1px solid #DDDDDD;
     top: 100%;
     margin-top: -1px;
     border-bottom-left-radius: 2.5px;
     border-bottom-right-radius: 2.5px;
     overflow: hidden;
     word-break: break-all;
   }
   
   .choices__list--dropdown.is-active {
     display: block;
   }
   
   .is-open .choices__list--dropdown {
     border-color: #b7b7b7;
   }
   
   .is-flipped .choices__list--dropdown {
     top: auto;
     bottom: 100%;
     margin-top: 0;
     margin-bottom: -1px;
     border-radius: .25rem .25rem 0 0;
   }
   
   .choices__list--dropdown .choices__list {
     position: relative;
     max-height: 300px;
     overflow: auto;
     -webkit-overflow-scrolling: touch;
     will-change: scroll-position;
   }
   
   .choices__list--dropdown .choices__item {
     position: relative;
     padding: 10px;
     font-size: 14px;
   }
   
   [dir="rtl"] .choices__list--dropdown .choices__item {
     text-align: right;
   }
   
   @media (min-width: 640px) {
     .choices__list--dropdown .choices__item--selectable {
       padding-right: 100px;
     }
     .choices__list--dropdown .choices__item--selectable:after {
       content: attr(data-select-text);
       font-size: 12px;
       opacity: 0;
       position: absolute;
       right: 10px;
       top: 50%;
       transform: translateY(-50%);
     }
     [dir="rtl"] .choices__list--dropdown .choices__item--selectable {
       text-align: right;
       padding-left: 100px;
       padding-right: 10px;
     }
     [dir="rtl"] .choices__list--dropdown .choices__item--selectable:after {
       right: auto;
       left: 10px;
     }
   }
   
   .choices__list--dropdown .choices__item--selectable.is-highlighted {
     background-color: #f2f2f2;
   }
   
   .choices__list--dropdown .choices__item--selectable.is-highlighted:after {
     opacity: .5;
   }
   
   .choices__item {
     cursor: default;
   }
   
   .choices__item--selectable {
     cursor: pointer;
   }
   
   .choices__item--disabled {
     cursor: not-allowed;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
     opacity: .5;
   }
   
   .choices__heading {
     font-weight: 600;
     font-size: 12px;
     padding: 10px;
     border-bottom: 1px solid #f7f7f7;
     color: gray;
   }
   
   .choices__button {
     text-indent: -9999px;
     -webkit-appearance: none;
     -moz-appearance: none;
      appearance: none;
     border: 0;
     background-color: transparent;
     background-repeat: no-repeat;
     background-position: center;
     cursor: pointer;
   }
   
   .choices__button:focus {
     outline: none;
   }
   
   .choices__input {
     display: inline-block;
     vertical-align: baseline;
     background-color: #f9f9f9;
     font-size: 14px;
     margin-bottom: 5px;
     border: 0;
     border-radius: 0;
     max-width: 100%;
     padding: 4px 0 4px 2px;
   }
   
   .choices__input:focus {
     outline: 0;
   }
   
   [dir="rtl"] .choices__input {
     padding-right: 2px;
     padding-left: 0;
   }
   
   .choices__placeholder {
     opacity: .5;
   }
   
   /*=====  End of Choices  ======*/
   .search-filter {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0rem;
      font-family: 'Lato', sans-serif;
     }
   
   .search-filter form {
      width: 100%;
      margin: 0;
   }
   
   .search-filter form .inner-form {
     width: 100%;
   }
   
   .search-filter form .inner-form .input-field {
     position: relative;
   }
   
   .search-filter form .inner-form .input-field input {
     height: 100%;
     border: 0;
     background: #fff;
     display: block;
     width: 100%;
     padding: 10px 32px 10px 70px;
     font-size: 18px;
     color: #666;
     border-radius: 3px;
     height: 70px;
     color: #555;
     font-family: 'Lato', sans-serif;
   }
   
   .search-filter form .inner-form .input-field input.placeholder {
     color: #999;
     font-size: 18px;
     font-weight: 600;
   }
   
   .search-filter form .inner-form .input-field input:-moz-placeholder {
     color: #999;
     font-size: 18px;
     font-weight: 600;
   }
   
   .search-filter form .inner-form .input-field input::-webkit-input-placeholder {
     color: #999;
     font-size: 18px;
     font-weight: 600;
   }
   
   .search-filter form .inner-form .input-field input:hover, .search-filter form .inner-form .input-field input:focus {
     box-shadow: none;
     outline: 0;
   }
   
   .search-filter form .inner-form .input-field .btn-search {
     min-width: 100px;
     height: 40px;
     padding: 0 15px;
     background: #0074D9;
     white-space: nowrap;
     border-radius: 0;
     font-size: 14px;
     color: #fff;
     transition: all .2s ease-out, color .2s ease-out;
     border: 0;
     cursor: pointer;
     font-weight: bold;
     box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
   }
   
   .search-filter form .inner-form .input-field .btn-search:hover, .search-filter form .inner-form .input-field .btn-search:focus {
     background: #0074D9;
   }
   
   .search-filter form .inner-form .input-field .btn-delete {
     min-width: 100px;
     height: 40px;
     padding: 0 15px;
     background: transparent;
     white-space: nowrap;
     border-radius: 0;
     font-size: 14px;
     color: #666;
     transition: all .2s ease-out, color .2s ease-out;
     border: 0;
     cursor: pointer;
     font-weight: bold;
   }
   
   .search-filter form .inner-form .input-field .btn-delete:hover, .search-filter form .inner-form .input-field .btn-delete:focus {
     color: #000;
     outline: 0;
     box-shadow: none;
   }
   
   .search-filter form .inner-form .basic-search {
     box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  //    border-top: 2px solid #0074D9;
     border-bottom: 2px solid #0074D9;
   }
   
   .search-filter form .inner-form .basic-search .input-field {
     width: 100%;
   }
   
   .search-filter form .inner-form .basic-search .input-field input {
     padding: 10px 80px 10px 40px;
   }
   
   .search-filter form .inner-form .basic-search .input-field .icon-wrap {
     position: absolute;
     top: 0;
     right: 0;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
         align-items: center;
     width: 60px;
     height: 100%;
   }
   
   .search-filter form .inner-form .basic-search .input-field .icon-wrap svg {
     width: 34px;
     height: 34px;
     fill: #ccc;
   }
   
   .search-filter form .inner-form .advance-search {
     background: #fff;
     padding: 40px;
     padding-bottom: 10px;
    //  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
   }
   
   .search-filter form .inner-form .advance-search .desc {
     font-size: 14px;
     color: #999;
     display: block;
     margin-bottom: 26px;
     font-weight: bold;
   }
   
   .search-filter form .inner-form .advance-search .row {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-pack: justify;
         justify-content: space-between;
     -ms-flex-align: center;
         align-items: center;
     margin-bottom: 20px;
   }
   
   .search-filter form .inner-form .advance-search .row.second {
     margin-bottom: 46px;
   }
   
   .search-filter form .inner-form .advance-search .row.third {
     margin-bottom: 0;
   }
   
   .search-filter form .inner-form .advance-search .row.third .input-field {
     width: 100%;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-pack: justify;
         justify-content: space-between;
     -ms-flex-align: center;
         align-items: center;
   }
   
   .search-filter form .inner-form .advance-search .row.third .input-field .result-count {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-pack: start;
         justify-content: flex-start;
     -ms-flex-align: center;
         align-items: center;
     width: 110px;
     color: #666;
     font-size: 14px;
   }
   
   .search-filter form .inner-form .advance-search .row.third .input-field .result-count span {
     color: #0074D9;
     padding-right: 5px;
   }
   
   .search-filter form .inner-form .advance-search .input-field {
     width: calc((100% - 40px) / 3);
   }
   
   .search-filter form .inner-form .advance-search .input-select {
     height: 40px;
   }
   
   .search-filter form .inner-form .advance-search .choices__inner {
     background: transparent;
     border-radius: 0;
     border: 0;
     border: 1px solid rgba(0, 0, 0, 0.1);
     height: 100%;
     color: #fff;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
         align-items: center;
     padding: 0;
     padding-right: 30px;
     font-size: 14px;
     min-height: 40px;
   }
   
   .search-filter form .inner-form .advance-search .choices__inner .choices__list.choices__list--single {
     display: -ms-flexbox;
     display: flex;
     padding: 5px 18px;
     -ms-flex-align: center;
         align-items: center;
     height: 100%;
   }
   
   .search-filter form .inner-form .advance-search .choices__inner .choices__item.choices__item--selectable.choices__placeholder {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
         align-items: center;
     height: 100%;
     opacity: 1;
     color: #666;
     font-weight: bold;
   }
   
   .search-filter form .inner-form .advance-search .choices__inner .choices__list--single .choices__item {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
         align-items: center;
     height: 100%;
     color: #0074D9;
     font-weight: bold;
   }
   
   .search-filter form .inner-form .advance-search .choices__list.choices__list--dropdown {
     border: 0;
     background: #fff;
     padding: 10px 18px 20px 18px;
     margin-top: 0;
     border-radius: 0;
     box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
   }
   
   .search-filter form .inner-form .advance-search .choices__list.choices__list--dropdown .choices__item--selectable {
     padding-right: 0;
   }
   
   .search-filter form .inner-form .advance-search .choices__list--dropdown .choices__item--selectable.is-highlighted {
     background: transparent;
     color: #0074D9;
   }
   
   .search-filter form .inner-form .advance-search .choices__list--dropdown .choices__item {
     color: #666;
     min-height: 20px;
     padding: 8px 0;
     font-weight: bold;
   }
   
   .search-filter form .inner-form .advance-search .choices[data-type*="select-one"]:after {
     border: 0;
     width: 32px;
     height: 32px;
     margin: 0;
     transform: none;
     opacity: 1;
     right: 15px;
     top: 6px;
     background-size: 18px 18px;
     background-position: right center;
     background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3e%3c/svg%3e");
     background-repeat: no-repeat;
   }
   
   .search-filter form .inner-form .advance-search .choices[data-type*="select-one"].is-open {
     box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
   }
   
   .search-filter form .inner-form .advance-search .choices[data-type*="select-one"].is-open:after {
     background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z'/%3e%3c/svg%3e");
   }
   
   .search-filter form .inner-form .advance-search .choices[data-type*="select-one"] .choices__button {
     display: none;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
   }
   
   @media screen and (max-width: 767px) {
     .search-filter form .inner-form .basic-search .input-field input {
       padding: 10px 80px 10px 15px;
     }
     .search-filter form .inner-form .basic-search .input-field .icon-wrap {
       width: 80px;
       -ms-flex-pack: center;
           justify-content: center;
     }
     .search-filter form .inner-form .basic-search .input-field .icon-wrap svg {
       width: 30px;
       height: 30px;
     }
     .search-filter form .inner-form .advance-search {
       padding: 30px 15px 0px;
     }
     .search-filter form .inner-form .advance-search .row {
       display: block;
     }
     .search-filter form .inner-form .advance-search .input-field {
       width: 100%;
       margin-bottom: 20px;
     }
   }
}

.accomodation {
  
  h1 {
    font-family: 'roboto';
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    font-size: 40px;
  }
  
  .accomodationList {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: minmax(200px, auto);
    grid-auto-flow: dense;
    
    ion-card {
      border: 0px;
    }
    
    ion-card-header {
      padding: 0px;
    }
    
    ion-card-content {
      h2 {
        font-weight: 600;
        text-align: left;
        font-size: clamp(25px, 3vw, 32px);
        color: #0074D9;
      }
      
      h4 {
        font-weight: 400;
        text-align: left;
        font-size: 16px;
        color: rgb(87, 87, 87);
      }
      
      h5 {
        font-weight: 400;
        text-align: left;
        font-size: 16px;
        padding-bottom: 10px;
        color: rgb(87, 87, 87);
      }
      
      ion-button {
        padding-right: 10px;
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
}

.testingGrid {
  position: relative;
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  grid-template-columns: 1fr;
  
  .testing {
    position: relative;
    display: flex;
    margin: 0rem 1rem;
    padding: 0.4rem;
    border-bottom: 1px solid #bbbb;
    
    a {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    
    .accomodation-logo {
      flex-shrink: 0;
      object-fit: cover;
      width: 300px;
    }
    
    .accoDes {
      padding-left: 1rem;
      width: 100%;
      
      .accomodation-description-header {
        display: flex;
        justify-content: space-between;
        
        ion-icon {
          flex-shrink: 0;
          font-size: xx-large;
        }
      }
      
      .location {
        display: flex;
        align-items: center;
        
        svg {
          flex-shrink: 0;
          fill: #000;
          width: 30px;
        }

        .sub-text {
          padding-left: 0.5rem;
        }
      }
      
      .room {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        
        .room-detail {
          display: flex;
          align-items: center;
          border-radius: 25px;
          background: lighten($color: #000000, $amount: 85);
          padding: 0.3rem 0.75rem 0.3rem 1rem;
          margin: 0rem 0.4rem 0.4rem 0rem;
          
          img {
            flex-shrink: 0;
            width: 30px;
          }

          .sub-text {
            padding-left: 0.5rem;
          }
        }
      }
      
      .price {
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 0rem 1rem 0.2rem 1rem;
        font-weight: 400;
        font-size: 20px;
        font-weight: 600;
        
        &::after {
          content: "\00a0/ Month";
          font-weight: 800;
          font-size: 20px;
        }
      }
    }
    
    &:hover {
      cursor: pointer;
      background:rgba(231, 231, 231, 0.733);
    }
  }

  .testing-card {
    display: none;
  }
  
  @media (max-width: 720px) {

    .testing {
      display: none;
    }

    .testing-card {
      position: relative;
      display: block;
      margin: 0rem 1rem;
      padding: 0.4rem;
      // border-bottom: 1px solid #bbbb;
      
      a {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      
      .accomodation-logo {
        flex-shrink: 0;
        object-fit: cover;
        width: 100%;
        border-radius: 15px;
      }

      .fav {
        position: absolute;
        top: 2%;
        right: 0%;

        ion-icon {
          flex-shrink: 0;
          font-size: xx-large;
        }
      }
      
      .accoDes {
        flex-grow: 1;
        
        .accomodation-description-header {
          display: flex;
          justify-content: space-between;
        }
        
        .location {
          display: flex;
          align-items: center;
          
          svg {
            flex-shrink: 0;
            fill: #000;
            width: 30px;
          }

          .sub-text {
            padding-left: 0.5rem;
          }
        }     
        
        .room {
          display: flex;
          align-items: flex-end;
          flex-wrap: wrap;
          
          .room-detail {
            display: flex;
            align-items: center;
            border-radius: 25px;
            background: lighten($color: #000000, $amount: 85);
            padding: 0.3rem 0.75rem 0.3rem 1rem;
            margin: 0rem 0.4rem 0.4rem 0rem;
            
            img {
              flex-shrink: 0;
              width: 30px;
            }
          }
        }
        
        .price {
          display: flex;
          justify-content: start;
          align-items: center;
          margin: 0rem 1rem 0.2rem 1rem;
          font-weight: 400;
          font-size: 20px;
          font-weight: 600;
          
          &::after {
            content: "\00a0/ Month";
            font-weight: 800;
            font-size: 20px;
          }
        }
      }
      
      &:hover {
        cursor: pointer;
        background:rgba(231, 231, 231, 0.733);
      }
    }
  }
}

.loadingPos {
  display: flex;
  justify-content: center;
  padding: 1rem;
  
  .loading {
      
      h2 {
          color: rgb(0, 0, 0);
          margin: 0rem 0rem 1rem 0rem;
          font-size: 18px;
          letter-spacing: .1em;
          font-family: 'roboto';
      }
    
    .dotPos {
      display: flex;
      justify-content: center;
      
      span {
        display: inline-block;
        vertical-align: middle;
        width: .6em;
        height: .6em;
        margin: .19em;
        background: #0074D9;
        border-radius: .6em;
        animation: loading 1.5s infinite alternate;
      }
      
      span:nth-of-type(2) {
        background: #5F6DCF;
        animation-delay: 0.2s;
      }
      span:nth-of-type(3) {
        background: #8366C1;
        animation-delay: 0.4s;
      }
      span:nth-of-type(4) {
        background: #9B60B2;
        animation-delay: 0.6s;
      }
      span:nth-of-type(5) {
        background: #AC5CA1;
        animation-delay: 0.8s;
      }
      span:nth-of-type(6) {
        background: #B65B91;
        animation-delay: 1.0s;
      }
      
      @keyframes loading {
        0% {
          opacity: 0;
          transform: translateY(0rem);
        }
        100% {
          opacity: 1;
          transform: translateY(-1rem);
        }
      }
    }
  }
}