<!-- Header -->
<ion-header>
  <ion-toolbar>
    <!-- Back Button -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="chevron-back-sharp"></ion-back-button>
    </ion-buttons>

    <!-- Title -->
   <ion-title>Course Details</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="comparison">

    <div class="compare">
      <ion-card class="intake">
        <ion-card-header>
          <ion-card-title>
            Intake
          </ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <h2>A</h2>
          <h4>B</h4>
          <h5>Single Room, Double Rooms | RM 1,000 - RM 3,000</h5>
  
          <ion-button slot="start" color="primary">More Details</ion-button>
          <ion-button slot="start" color="primary" fill="outline">Booking</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  
    <div class="compare">
      <ion-card class="fees">
        <ion-card-header>
          <ion-card-title>
            Fees
          </ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <h2>A</h2>
          <h4>B</h4>
          <h5>Single Room, Double Rooms | RM 1,000 - RM 3,000</h5>
  
          <ion-button slot="start" color="primary">More Details</ion-button>
          <ion-button slot="start" color="primary" fill="outline">Booking</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  
    <div class="compare">
      <ion-card class="duration">
        <ion-card-header>
          <ion-card-title>
            Duration
          </ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <h2>A</h2>
          <h4>B</h4>
          <h5>Single Room, Double Rooms | RM 1,000 - RM 3,000</h5>
  
          <ion-button slot="start" color="primary">More Details</ion-button>
          <ion-button slot="start" color="primary" fill="outline">Booking</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  
    <div class="compare">
      <ion-card class="module">
        <ion-card-header>
          <ion-card-title>
            Module
          </ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <h2>A</h2>
          <h4>B</h4>
          <h5>Single Room, Double Rooms | RM 1,000 - RM 3,000</h5>
  
          <ion-button slot="start" color="primary">More Details</ion-button>
          <ion-button slot="start" color="primary" fill="outline">Booking</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>